/BMICalculator.class
/ChallengeLab2.class
/CovidProfile.class
/CovidReporter.class
/Lab2Q1.class
/Lab2Q2.class
/Lab2Q3.class
/LetterPrinter.class
/Loop.class
/Test.class
/Test2.class
/WallPaper.class
/WallPaper2.class
/WallPaperUnit.class
/WallPaperUnit2.class
/House.class
/HouseTester.class
